/* Start My Frame Work */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
    font-family: "poppins", sans-serif
}

body{
    overflow-x: hidden
}

input {
    outline: none
}

a {
    text-decoration: none
}

.container {

    margin: auto;
    padding: 0 5%;
}

:root {
    --main-color: #ff3561;
    --trans: .5s ease-in-out
}

.fa-arrow-up {
    position: fixed;
    bottom: 80px;
    right: 5px;
    padding: 15px;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 15px;
    color: #fff;
    display: none;
    z-index: 9
}
::placeholder{
    transition: var(--trans)
}

:focus::placeholder{
    opacity: 0
}


::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff356199;

}

::-webkit-scrollbar-thumb:hover {
    background-color:var(--main-color);

}

::-webkit-scrollbar-track {
    background-color: #ff356199;

}

.active {
    position: relative
}

.active::after {
    position: absolute;
    content: "";
    background-color: #fff;
    width: 25px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    border-radius: 3px
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px
}

/* End My Frame Work */

/* Strat Header */

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px
}

nav > img,
nav > a img {
    width: 140px;
    cursor: pointer
}


nav ul li {
    display: inline-block;
    margin: 0 10px
}

nav ul li a {
    color: #fff
}

nav ul > a {
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
    font-size: 13px;
    border-radius: 20px;

}

header .container h1 {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%
}

header .search-box {
    background-color: #fff;
    width: 100%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
    min-height: 55px;
}

header .search-box form {
    display: flex;
    align-items: center;
    flex-wrap: wrap
}


header .search-box form input {
    display: block;
    border: 0;
    background: transparent;

}

header .search-box form button {
    background-color: var(--main-color);
    width: 55px;
    border-radius: 50%;
    height: 55px;
    border: 0;
    cursor: pointer
}

header .search-box form button i {
    width: 15px;
    margin-top: 7px;
    color: #fff
}

header .search-box form .loc-input {
    flex: 1
}

header .search-box form label {
    font-weight: 600
}

/* End Header*/


/* Start exclusives */
.container h2 {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.exclusives {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px
}

.exclusives div {
    position: relative
}

.exclusives div img {
    width: 100%;
    border-radius: 10px;

}

.exclusives div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff
}

/* En exclusives */

/* Strat trandin */

.trandin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-bottom: 30px;
}

.trandin div img {
    width: 100%;
    border-radius: 10px;
}

.trandin h3 {
    margin-top: 10px;
    font-weight: 600
}

/* End trandin */

/* Start cta */

.cta {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(../images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff
}

.cta h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500
}

.cta p {
    font-size: 18px;
    margin: 10px
}

.cta > a {
    display: inline-block;
    color: #fff;
    background-color: var(--main-color);
    padding: 12px 30px;
    border-radius: 10px;
    margin-top: 20px
}

/* End cta */

/* Strat stories */

.stories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-bottom: 30px;
}

.stories > div {
    position: relative;
    text-align: center
}

.stories > div img {
    width: 100%;
    border-radius: 10px
}


.stories > div p {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px
}

/* End stories */

.satrt-a {
    background-color: var(--main-color);
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 20px;
    font-size: 20px
}


.about-msg {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 15px
}

.about-msg h2 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 500
}

footer {
    text-align: center
}

footer a {
    color: #999;
    font-size: 22px;
    margin: 0 10px;
    transition-duration: var(--trans)
}

footer a:hover {
    color: red
}


footer hr {
    background-color: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;

}

footer p {
    padding-bottom: 15px;
    color: var(--main-color);
    font-weight: 900
}


.fa-bars {
    display: none
}


/* ------------------------------ Listing Page ----------------------------- */

.nav-white {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.nav-white ul li a {
    color: #000
}


.nav-white ul > a {
    background-color: var(--main-color);
    color: #fff
}

.nav-white .fa-bars {
    color: #000
}

.nav-white .active::after {
    background-color: var(--main-color)
}


.list-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.list-container .l-col {
    flex-basis: 70%
}

.list-container .l-col h1 {
    color: #333;
    font-weight: 600;
    margin-bottom: 30px
}

.list-container .l-col .house {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #ccc
}

.list-container .l-col .house .house-img {
    flex-basis: 40%;

}

.list-container .l-col .house .house-img img {
    width: 100%;
    border-radius: 15px;
    transition: var(--trans)
}

.list-container .l-col .house .house-img img:hover {
    transform: scale(1.1)
}

.list-container .l-col .house .house-info {
    flex-basis: 58%;
    color: #555
}

.list-container .l-col .house .house-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0
}

.list-container .l-col .house .house-info i {
    color: var(--main-color);
    font-size: 18px;
    margin: 10px 0
}

.list-container .l-col .house .house-info .house-price {
    text-align: right
}

.list-container .l-col .house .house-info .house-price h4 {
    font-size: 20px
}

.list-container .l-col .house .house-info .house-price h4 span {
    font-size: 16px;
    font-weight: 500
}


.list-container .r-col {
    flex-basis: 25%
}

.list-container .r-col .side-bar {
    border: 1px solid #999;
    padding: 0px 30px;
    margin-top: 30px;

}

.list-container .r-col .side-bar h2 {
    font-weight: 500
}

.list-container .r-col .side-bar h3 {
    font-weight: 500;
    margin: 20px 0 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px
}

.more-1 {
    display: none !important
}

.sho-more-1 {
    display: block !important;
    transition: display 2s linear !important
}

.more-2 {
    display: none !important
}

.sho-more-2 {
    display: block !important
}

.list-container .r-col .side-bar .filter {
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px
}

.list-container .r-col .side-bar .filter p {
    flex: 1
}

.list-container .r-col .side-bar .filter input {
    margin-right: 15px;
    cursor: pointer
}

.list-container .r-col .side-bar .side-link {
    text-align: right;
    margin: 20px 10px
}

.list-container .r-col .side-bar .side-link p {
    color: green;
    cursor: pointer
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0
}

.pagination span {
    margin: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer
}

.pagination .currenr {
    background-color: #333;
    color: #fff
}

.pagination i {

    font-size: 15px;
    margin: 10px 20px;
    color: #999;
    cursor: pointer
}

@media only screen and (max-width:767px) {

    .list-container {
        margin-top: 150px
    }

    .l-col,
    .r-col,
    .house-img,
    .house-info {
        flex-basis: 100% !important
    }

    .l-col h1 {
        font-size: 22px
    }

    .house-info h3 {
        font-size: 18px !important
    }

    .house-info i {
        font-size: 15px !important
    }

    .pagination span {
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 13px
    }

}

/* ------------------------------ Meduaquery  For Listing Page----------------------------- */



/* ------------------------------ House-detailse Page----------------------------- */

.housedetails {
    padding: 0 12%
}

.housedetails .house-title {
    margin-top: 50px
}

.housedetails .house-title h1 {
    font-weight: 600
}

.housedetails .house-title .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0
}

.housedetails .house-title .row > div span {
    margin: 0 20px
}

.housedetails .house-title .row > div i {
    color: var(--main-color);
    font-size: 13px
}


.housedetails .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . .''first first . .'
}

.housedetails .gallery > div img {
    width: 100%;
    display: block;
    border-radius: 10px
}

.housedetails .gallery > div:nth-child(1) {

    grid-area: first
}

.housedetails .ismall-details h2 {
    font-weight: 500
}

.housedetails .ismall-details h4 {
    font-size: 22px;
    text-align: right
}

.housedetails form {
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px
}

.housedetails form > div {
    padding: 20px
}

.housedetails form > div label {
    display: block
}

.housedetails form > div input {
    background: transparent;
    border: 0
}

.housedetails form button {
    background: var(--main-color);
    color: #fff;
    border: 0;
    padding: 15px;
    width: 350px;
    border-radius: 10px;
    font-size: 15px;
    flex: 1
}

.housedetails ul {
    margin: 10px 0
}

.housedetails ul li {
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #555;
    position: relative
}

.housedetails ul li i {
    position: absolute;
    top: 5px;
    left: -40px
}

.housedetails ul li span {
    display: block;
    font-weight: 400;
    font-size: 15px;

}

.housedetails > p {
    max-width: 700px;
    margin-bottom: 10px;
    line-height: 1.4;
    color: #555
}

.housedetails .map {
    margin: 10px 0
}

.housedetails .map iframe {
    width: 100%;
    margin-bottom: 30px
}

.housedetails .map h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px
}

.housedetails .map b {
    display: block;
    margin-bottom: 10px
}

.housedetails .host {
    display: flex;
    align-items: center
}


.housedetails .host img {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px
}


.housedetails .host h2 {
    margin-bottom: 10px;
    font-weight: 500
}


.housedetails .host p span i {
    color: var(--main-color)
}


.housedetails > a {
    display: inline-block;
    margin: 10px 0;
    color: #555;
    padding: 15px 50px;
    border: 1px solid var(--main-color);
    border-radius: 10px
}

/* ------------------------------ Meduaquery  For House Page----------------------------- */
@media only screen and (max-width:767px) {

    .housedetails {
        margin-top: 150px
    }

    .housedetails .house-title .row p {
        margin-top: 10px;
        font-size: 13px
    }

    .housedetails .gallery {
        grid-template-areas: 'first first''. .''. .'
    }

    .housedetails .ismall-details h2 {
        font-size: 20px;
        margin: 10px 0;
        font-size: 15px
    }

    .housedetails .ismall-details h4 {
        text-align-last: left;
        margin: 10px 0;
        font-size: 18px
    }

    .housedetails form {
        padding: 10px 30px
    }

    .housedetails form > div {
        padding: 20px 0;
        width: 100%
    }

    .housedetails form > div input {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px
    }

    .housedetails form button {
        font-size: 13px;
        border-radius: 5px
    }

    .housedetails .host {
        display: block;
        line-height: 30px
    }

    .housedetails > a {
        margin: 20px 0
    }
}

/* ------------------------------ Meduaquery  For Home Page----------------------------- */
@media only screen and (max-width:767px) {

    nav > a img {
        position: fixed;
        top: 4%;
        left: 1%
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        text-align: right;
        background-color: #000;
        max-height: 100px;
        overflow: hidden;
        transition: max-height var(--trans)
    }

    nav ul li {
        margin: 10px 0;
        display: block
    }

    nav ul > a {
        margin: 15px 0 30px;
        display: inline-block
    }

    .fa-bars {
        display: block !important;
        color: #fff;
        position: fixed;
        top: 4%;
        right: 1%;
        font-size: 25px;
        cursor: pointer
    }
    
    .list .fa-bars{
        color: var(--main-color)
    }

    .active {
        position: relative
    }

    .active::after {
        left: -40px;
        transform: translate(0, -50%);
        bottom: 50%
    }

    .toggle-menu {
        max-height: 300px
    }

    header .container h1 {
        padding-top: 200px;
        font-size: 7vw
    }

    header .search-box {
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;

    }

    header .search-box form {
        display: block
    }

    header .search-box form input {
        border-bottom: 1px solid #7e7777;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;

    }


    header .search-box button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%)
    }

    .container h2 {
        font-size: 6vw
    }

    .cta {
        padding: 15% 5%
    }

    .cta h3 {
        font-size: 7vw;
        line-height: 8vw
    }

    .cta p {
        font-size: 13px
    }

    .cta > a {
        padding: 6px 15px;
        border-radius: 5px;
        margin-top: 5px;
        font-size: 13px
    }

    .stories > div p {
        font-size: 20px
    }

    .about-msg {
        font-size: 13px
    }
}

@media(min-width:768px) and (max-width:900px) {

    header .search-box form {
        flex-wrap: nowrap;
        position: relative
    }

    header .search-box form button {
        background: none;
        position: absolute;
        right: -11px;
        top: -8px;
    }

    header .search-box form button i {
        color: red;
        font-size: 25px
    }
}


@media(max-width:992px) {

    header .container {
        padding: 0
    }
}

@media(min-width:1200px) {
    header .container {
        padding: 0 10%
    }
}

@media(max-width:450px) {
    
    p{
        font-size: 10px;
        line-height: 1.7
    }
}
